//
//  wowcher-Staging-Debug.xcconfig
//  wowcher
//
//  Created by Łukasz Kasperek on 12.01.2016.
//  Copyright © 2016 Flipside Group. All rights reserved.
//

#include "../../External/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../../External/xcconfigs/Base/Configurations/Debug.xcconfig"
#include "shoutit-Staging.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) "-D" "STAGING" -Xfrontend -debug-time-function-bodies
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STAGING=1

KIT_PRODUCT_BUNDLE_IDENTIFIER = $PRODUCT_BUNDLE_IDENTIFIER$SHOUTIT_KIT_SUFFIX