//
//  shoutit-Local-Debug.xcconfig
//  shoutit-iphone
//
//  Created by Piotr Bernad on 27/04/16.
//  Copyright © 2016 Shoutit. All rights reserved.
//

#include "../../External/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../../External/xcconfigs/Base/Configurations/Debug.xcconfig"

PRODUCT_NAME = Shoutit Local

PRODUCT_BUNDLE_IDENTIFIER = com.shoutit-iphone.local
APPLICATION_BUNDLE_IDENTIFIER = com.shoutit-iphone.local

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) LOCAL=1
OTHER_SWIFT_FLAGS = $(inherited) "-D" "LOCAL"

FACEBOOK_URL_SCHEME = fb1204745992871917
FACEBOOK_APP_ID = 1204745992871917
SHOUTIT_URL_SCHEME=shoutit-local
KIT_PRODUCT_BUNDLE_IDENTIFIER=$PRODUCT_BUNDLE_IDENTIFIER$SHOUTIT_KIT_SUFFIX
CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE = $(PROFILE_UDID)