//
//  shoutit-Staging.xcconfig
//  shoutit-iphone
//
//  Created by Łukasz Kasperek on 10.02.2016.
//  Copyright © 2016 Shoutit. All rights reserved.
//

#include "shoutit.xcconfig"

PRODUCT_NAME = Shoutit Staging

// facebook
FACEBOOK_URL_SCHEME = fb1151546964858487
FACEBOOK_APP_ID = 1151546964858487
SHOUTIT_URL_SCHEME=shoutit-stage