// Build settings for profile builds.

#include "../../External/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../../External/xcconfigs/Base/Configurations/Profile.xcconfig"
#include "shoutit.xcconfig"

ONLY_ACTIVE_ARCH = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) "STAGING=0"

SWIFT_OPTIMIZATION_LEVEL = -Onone

KIT_PRODUCT_BUNDLE_IDENTIFIER = $PRODUCT_BUNDLE_IDENTIFIER$SHOUTIT_KIT_SUFFIX