//
//  wowcher-Staging-Release.xcconfig
//  wowcher
//
//  Created by Łukasz Kasperek on 12.01.2016.
//  Copyright © 2016 Flipside Group. All rights reserved.
//

#include "../../External/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../../External/xcconfigs/Base/Configurations/Release.xcconfig"
#include "shoutit-Staging.xcconfig"

CODE_SIGN_IDENTITY = iPhone Distribution: AppUnite Sp. z o.o.
OTHER_SWIFT_FLAGS = $(inherited) "-D" "STAGING"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STAGING=1

APPSEE_APIKEY=ec274d5916bd4a72b3ae0eb776adec88
FACEBOOK_APP_ID = 1151546964858487