[submodule "External/xcconfigs"]
	path = External/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
  [submodule "translations"]
	path = translations
	url = https://shoutit-bot:shoutitbot1@github.com/shoutit/shoutit-ios-xliff.git
[submodule "AviarySDK"]
	path = AviarySDK
	url = git@git.appunite.com:appunite/aviary.git
[submodule "ExternalFrameworks/TwilioCommon"]
	path = ExternalFrameworks/TwilioCommon
	url = git@git.appunite.com:shoutit/TwilioCommon.git
