[submodule "External/xcconfigs"]
	path = External/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
  [submodule "translations"]
	path = translations
	url = https://shoutit-bot:shoutitbot1@github.com/shoutit/shoutit-ios-xliff.git
[submodule "External/AviarySDK"]
	path = External/AviarySDK
	url = git@git.appunite.com:appunite/aviary.git
[submodule "External/TwilioCommon"]
	path = External/TwilioCommon
	url = git@git.appunite.com:shoutit/TwilioCommon.git
[submodule "External/TwilioConversationsClient"]
	path = External/TwilioConversationsClient
	url = git@git.appunite.com:shoutit/TwilioConversationsClient.git
[submodule "External/GoogleMaps"]
	path = External/GoogleMaps
	url = git@git.appunite.com:shoutit/GoogleMaps.git
