github "ReactiveX/RxSwift"
github "mixpanel/mixpanel-iphone"
github "aws/aws-sdk-ios"
github "AnthonyMDev/AmazonS3RequestManager"
github "Alamofire/Alamofire"
github "ashleymills/Reachability.swift" "v3"
github "onevcat/Kingfisher"
github "CosmicMind/Material"
github "jdg/MBProgressHUD"
github "SVProgressHUD/SVProgressHUD"
github "dzenbot/DZNEmptyDataSet"
github "slackhq/SlackTextViewController"
github "lukkas/ACPDownload"
github "rs/SDWebImage" "3.8.1"
github "BoltsFramework/Bolts-ObjC"
github "facebook/SocketRocket" "0.4.2"
github "kishikawakatsumi/KeychainAccess"
github "adamwaite/Validator"
github "drmohundro/SWXMLHash"
github "matthewcheok/JSONCodable" ~> 3.0.1

git "https://bitbucket.org/rmonkey/papertraillumberjack.git"
