<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVYEditorAppearanceAccentColor</key>
	<string>#f7feef</string>
	<key>AVYEditorAppearanceBackgroundColor</key>
	<string>#35dd69</string>
	<key>AVYEditorAppearanceBlurStyle</key>
	<string>dark</string>
	<key>AVYEditorAppearanceContentColor</key>
	<string>#ffffff</string>
	<key>AVYEditorAppearancePrimaryColor</key>
	<string>#252525</string>
	<key>AVYEditorAppearanceSecondaryColor</key>
	<string>#595959</string>
	<key>AVYEditorAppearanceStatusBarStyle</key>
	<string>light</string>
</dict>
</plist>
